*
{
    background-color: aquamarine;
}

.Ingredients
{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: medium;
    font-weight: 200;
}
.Directions
{
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
    font-weight: 700;
    font-style: italic;
}